<div id="<%= dom_id theme %>">
  <p>
    <strong>Title list:</strong>
    <%= theme.title_list %>
  </p>

  <p>
    <strong>Status theme:</strong>
    <%= theme.status_theme %>
  </p>

  <p>
    <strong>Type list:</strong>
    <%= theme.type_list %>
  </p>

</div>
