<div class="container-list .m-flex">    
  <div class="content-themes m-flex n-new-t">
    <h1>New theme</h1>

    <%= render "form", theme: @theme %>

    <br>

    <div>
      <%= link_to "Back to themes", themes_path %>
    </div>


  </div>
</div>