<h1>Tarefas dessa lista</h1>

<div id="todos">
  <% @todos.each do |todo| %>
    <p>
        <%= todo.title_tasks%>
        <%= todo.description%>
        <%= todo.complete%>
        <%= todo.status_task%>
    </p>
  <% end %>

</div>

